{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block right_col %}

    <div class="row mt-4">
        {#        <div class="col-md-4 offset-md-4">#}
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

            <h3>{% trans "تغییر رمز عبور" %}</h3>
            <hr>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form.as_p }}
                <a class="btn btn-sm btn-danger" href="{% url 'profile' %}">انصراف</a>
                <button type="submit" name="action" class="btn btn-sm btn-success">{% trans "تغییر" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
