{% extends 'requests/base_minimal.html' %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block mainContent %}

    <div class="row mt-4">
        {#        <div class="col-md-4 offset-md-4">#}
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <h3>{% trans "تغییر رمز عبور" %}</h3>
            <hr>
            <p>{% trans 'رمز عبور با موفقیت تغییر کرد.' %}</p> <a class="btn btn-success" href="{% url 'login' %}">ورود</a>
        </div>
    </div>

{% endblock %}