{% extends 'requests/base_minimal.html' %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block mainContent %}

    <div class="row mt-4">
        {#        <div class="col-md-4 offset-md-4">#}
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

            <h3>{% trans "تغییر رمز عبور" %}</h3>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

{#            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>#}
            <p>{% trans "در صورتی که رمز عبور خود را به خاطر ندارید، آدرس ایمیل خود را وارد نمایید. لیک تغییر رمز برای شما ارسال می شود." %}</p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="{% trans 'تغییر رمز عبور' %}"/>
            </form>

{#            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>#}
        </div>
    </div>
{% endblock %}
