{% extends "requests/base_minimal.html" %}
{% load i18n %}
{% load account %}
{% block head_title %}{% trans "تغییر رمز عبور" %}{% endblock %}

{% block mainContent %}


    <div class="row mt-4">
{#        <div class="col-md-4 offset-md-4">#}
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <h3>{% trans "تغییر رمز عبور" %}</h3>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}
        ایمیل حاوی لینک تغییر رمز عبور برای شما ارسال شد. در صورت عدم دریافت لطفا پوشه اسپم را نیز بررسی فرمایید.
        {% endblocktrans %}</p>

        </div>
    </div>

{% endblock %}

