{#{% extends "admin/base_site.html" %}#}
{% extends 'requests/base_minimal.html' %}

{% load i18n %}


{% block mainContent %}
    <div class="col-md-8 col-md-offset-2 pull-right">
        <p>لینک تغییر رمز به ایمیل وارد شده ارسال شد. </p>
        <p>اگر ایمیلی دریافت نشد لطفا درستی ایمیل و پوشه اسپم را بررسی کنید. </p>
    </div>
    {#    <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>#}
    {#    <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>#}


{% endblock %}
