{#{% extends "admin/base_site.html" %}#}
{% extends 'requests/base_minimal.html' %}
{% load i18n static %}


{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block mainContent %}
    <div class="col-md-8 col-md-offset-2">
    <h2 style="border-bottom: 1px solid black; padding-bottom: 10px; ">تغییر رمز عبور</h2>
     <p>در صورت فراموشی رمز عبور لینک تغییر رمز به ایمیل زیر ارسال خواهد شد.</p>
        <form method="post">{% csrf_token %}
            <fieldset class="module aligned">
                <div class="form-row field-email">
                    {{ form.email.errors }}
                    {#        <label for="id_email">{% trans 'Email address:' %}</label>#}
                    <label for="id_email">آدرس ایمیل</label>
                    {{ form.email }}
                </div>
                <input class="btn btn-sm btn-success" type="submit" value="تغییر رمز"/>
            </fieldset>
        </form>
    </div>




{% endblock %}
