{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% block right_col %}
    <main role="main">


        <div class="album py-5 bg-light">
            <div class="container">
                <div class="col-md-10 col-md-offset-1" style="margin-bottom: 50px; margin-top: 30px">
                    <form action="{% url 'tenders_admin' %}" method="POST">
                        {% csrf_token %}
                        <div class="col-md-11">
                            <input class="form-control" type="text" name="key"
                                   value="{% if tenders_items %}{{ key }}{% endif %}">
                        </div>
                        {#                    <input class="btn btn-primary" type="submit" value="Sumbit">#}
                        <div class="col-md-1">
                            <button class="btn btn-primary btn-sm" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>


                    </form>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3>ParsNamadData Tenders</h3>
                        {% for tender in tenders_items %}
                            <div class="col-md-12">
                                <div class="card mb-6 shadow-sm">
                                    <div class="card-body">
                                        <a href="http://www.parsnamaddata.com{{ tender.link }}">{{ tender.title }}</a>
                                        <p class="card-text">{{ tender.summary }}</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button"
                                                        class="btn btn-sm btn-outline-secondary">{{ tender.tenderId }}</button>
                                                <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                                        href="http://www.parsnamaddata.com{{ tender.link }}">View</a>
                                                </button>
                                            </div>
                                            <small class="text-muted">{{ tender.startDateFa }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        <h3>Aria Tender</h3>
                        <div>
                            {% for aria_tender in aria_tenders %}



                                <div class="col-md-12">
                                    <div class="card mb-6 shadow-sm">
                                        <div class="card-body">
                                            <a href="http://www.ariatender.com{{ aria_tender.href }}">{{ aria_tender.title }}</a>
                                            <p class="card-text"></p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <button type="button"
                                                            class="btn btn-sm btn-outline-secondary"></button>
                                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                                        <a href="http://www.ariatender.com{{ aria_tender.href }}">View</a>
                                                    </button>
                                                </div>
                                                <small class="text-muted"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </main>

{% endblock %}