{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% load humanize %}

{% block right_col %}
    <div>
        <h3 class="text-center col-xs-12">
            {{ title_msg }}
        </h3>
        {% if request.user.is_superuser and show %}
            <div id="customerDetails" class="col-xs-6 col-sm-4">
                <h3>تعداد باقیمانده</h3>
                <div class="table-responsive">
                    <table class="table">
                    <thead>
                    <tr>
                        <td>ظریف</td>
                        <td>محمدی</td>
                        <td>علوی</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ zarif.not_entered.count }}</td>
                        <td>{{ mohammadi.not_entered.count }}</td>
                        <td>{{ alavi.not_entered.count }}</td>
                    </tr>
                    <tr>
                        <td>{{ zarif.avg_time | floatformat:2 }} روز</td>
                        <td>{{ mohammadi.avg_time | floatformat:2 }} روز</td>
                        <td>{{ alavi.avg_time | floatformat:2 }} روز</td>
                    </tr>
                    <tr>
                        <td>{{ zarif.count }}</td>
                        <td>{{ mohammadi.count }}</td>
                        <td>{{ alavi.count }}</td>
                    </tr>
                    </tbody>
                </table>
                </div>

            </div>

        {% endif %}
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <td>ردیف</td>
                        <td>شماره اتوماسیون</td>
                        <td>تاریخ</td>
                        <td>تاریخ شمسی</td>
                        <td>مشتری</td>
                        <td>عنوان</td>
                        <td>کارشناس</td>
                        <td>شماره وارده</td>
                        {#                <td>واردشده</td>#}
                        {#                <td>درخواست</td>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for r in reqs %}

                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ r.number_automation }}</td>
                            <td>{{ r.date_txt }}</td>
                            <td>{{ r.date_fa }}</td>
                            <td>{{ r.customer }}</td>
                            <td>{{ r.title }}</td>
                            <td>{{ r.owner_text }}</td>
                            <td>{{ r.number_entered }}</td>
                            {#                    <td>{{ r.is_entered }}</td>#}
                            {#                    <td>{{ r.is_request }}</td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}