{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% load humanize %}
{% block right_col %}
    <div class="container">
        <div class="col-md-12">
            <h3>{{ msg }}</h3>
            {#                <h1 style="text-align: center; background-color: #3E5367; border: 1px solid burlywood; color: whitesmoke;">Request Specs</h1>#}
            <h1 class="page-header">Request Specs</h1>

            <div id="example-table"></div>
            <div class="searchApp">
                <form method="POST" action="{% url 'fsearch' %}">
                    {% csrf_token %}
                    {#                    {{ search_form }}#}

                    {{ search_form.non_field_errors }}
                    <div class="col-md-4">
                        <div class="col-md-12">
                            {{ search_form.customer_name.errors }}
                            <label for="{{ search_form.customer_name.id_for_label }}">مشتری:</label>
                            {{ search_form.customer_name }}
                        </div>
                        <div class="col-md-3">
                            <div class="fieldWrapper">
                                {{ search_form.kw_min.errors }}
                                <label for="{{ search_form.kw_min.id_for_label }}">کیلووات(از)</label>
                                {{ search_form.kw_min }}
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="fieldWrapper">
                                {{ search_form.kw_max.errors }}
                                <label for="{{ search_form.kw_max.id_for_label }}">کیلووات(تا)</label>
                                {{ search_form.kw_max }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="fieldWrapper">
                                {{ search_form.rpm.errors }}
                                <label for="{{ search_form.rpm.id_for_label }}">سرعت</label>
                                {{ search_form.rpm }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="fieldWrapper">
                                {{ search_form.rpm.errors }}
                                <label for="{{ search_form.owner.id_for_label }}">کارشناس</label>
                                {{ search_form.owner }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12">

                            <div class="col-md-6">
                                {{ search_form.price.errors }}
                                <label for="{{ search_form.price.id_for_label }}">مالی</label>
                                {{ search_form.price }}

                            </div>
                            <div class="col-md-6">
                                {{ search_form.tech.errors }}
                                <label for="{{ search_form.tech.id_for_label }}">فنی</label>
                                {{ search_form.tech }}

                            </div>
                            <div class="col-md-6">
                                {{ search_form.permission.errors }}
                                <label for="{{ search_form.permission.id_for_label }}">مجوز</label>
                                {{ search_form.permission }}

                            </div>
                            <div class="col-md-6">
                                {{ search_form.sent.errors }}
                                <label for="{{ search_form.sent.id_for_label }}">ارسال شده</label>
                                {{ search_form.sent }}

                            </div>

                        </div>


                    </div>
                    <div class="col-md-4 ">
                        <div class="col-md-6">
                            {{ search_form.date_min.errors }}
                            <label for="{{ search_form.date_min.id_for_label }}">تاریخ(از)</label>
                            {{ search_form.date_min }}
                        </div>
                        <div class="col-md-6">
                            {{ search_form.date_max.errors }}
                            <label for="{{ search_form.date_max.id_for_label }}">تاریخ(تا)</label>
                            {{ search_form.date_max }}
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                {{ search_form.sort_by.errors }}
                                <label for="{{ search_form.sort_by.id_for_label }}">مرتب سازی بر اساس</label>
                                {{ search_form.sort_by }}

                            </div>
                            <div class="col-md-6">

                                {{ search_form.dsc_asc.errors }}
                                <label for="{{ search_form.dsc_asc.id_for_label }}">ترتیب</label>
                                {{ search_form.dsc_asc }}
                            </div>

                        </div>

                    </div>

                    <div class="col-md-12">
                        <div class="pull-left">
                            <button type="submit" name="submit" class="btn btn-sm btn-primary">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                            <a href="{% url 'fsearch' %}" class="btn btn-sm btn-danger">حذف فیلترها</a>
                        </div>

                    </div>
                </form>
            </div>

            <table id="req_search_table" class="table table-hover">
                <tr>
                    <th>No</th>
                    <th class="customer-column">مشتری</th>
                    <th>QTY</th>
                    <th>KW</th>
                    <th>RPM</th>
                    <th>Voltage</th>
                    <th>فنی</th>
                    <th>مالی</th>
                    <th>مجوز</th>
                    <th>ارسال شده</th>
                    <th>کارشناس</th>
                    <th>شماره درخواست</th>
                    <th>پیشفاکتور</th>
                    <th>پرداخت</th>
                    <th>زمان</th>
                    <th></th>
                </tr>
                <tbody class="request-table-body">
                {#                            {% for reqspec in reqspecs %}#}
                {% for i, reqspec in response.items %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td class="customer-column">
                            <a href="{% url 'customer_read' customer_pk=reqspec.spec.req_id.customer.pk %}">{{ reqspec.spec.req_id.customer.name }}</a>
                        </td>
                        <td>{{ reqspec.spec.qty }}</td>
                        <td>{{ reqspec.spec.kw }}</td>
                        <td>{{ reqspec.spec.rpm }}</td>
                        <td>{{ reqspec.spec.voltage }}</td>

                        <td><input type="checkbox" {% if reqspec.spec.tech %} checked {% endif %} disabled></td>
                        <td><input type="checkbox" {% if reqspec.spec.price %} checked {% endif %} disabled></td>
                        <td><input type="checkbox" {% if reqspec.spec.permission %} checked {% endif %} disabled></td>
                        <td><input type="checkbox" {% if reqspec.spec.sent %} checked {% endif %} disabled></td>
                        <td>
                            {% for colleague in reqspec.owner_colleagues %}
                                {{ colleague }} -
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{% url 'request_details' request_pk=reqspec.spec.req_id.pk %}">{{ reqspec.spec.req_id.number }}</a>
                        </td>
                        <td>
                            {% for prof in reqspec.proformas %}
                                <a href="{% url 'pref_details' ypref_pk=prof.pk %}">{{ prof }}</a> -
                            {% endfor %}
                        </td>
                        <td>
                            {% for payment in reqspec.payments %}
                                <a href="{% url 'payment_details' ypayment_pk=payment.pk %}">{{ payment.number }}</a> -
                            {% endfor %}
                        </td>

                        <td>{{ reqspec.spec.req_id.date_fa }} ({{ reqspec.delay }})</td>
                        <td>
                            <a class="btn btn-primary btn-xs"
                               href="{% url 'request_details' request_pk=reqspec.spec.req_id.pk %}">
                                <i class="fa fa-eye"></i> مشاهده
                            </a>
                        </td>


                    </tr>

                {% endfor %}
                <tr style="font-size: large; font-weight: bold">
                    <td colspan="2">مجموع</td>
                    <td>{{ total_qty | floatformat:0 | intcomma }}</td>
                    <td>{{ total_kw | floatformat:0 | intcomma }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}