{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% load humanize %}
{% block right_col %}
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3>{{ msg }}</h3>
            {#                <h1 style="text-align: center; background-color: #3E5367; border: 1px solid burlywood; color: whitesmoke;">Request Specs</h1>#}
            <h1 class="page-header">Request Specs</h1>

            <div id="example-table"></div>
            <div class="searchApp">
                <div class="col-md-5 col-sm-5">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="col-md-12 col-sm-12">
                            <label for="customer_name">مشتری</label>
                            <input id="customer_name" class="form-control" type="text" name="customer_name"
                                   v-model="filter.customer">
                            [[ customer ]]

                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="kw_min">تاریخ(از)</label>
                            <input id="date_fa" class="form-control" type="text" name="date_min" v-model="filter.date_min">
                            {#                    [[ filter.kw_min ]]#}

                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="kw_max">تاریخ(تا)</label>
                            <input id="exp_date_fa" class="form-control" type="text" name="date_max" v-model="filter.date_max">
                            {#                    [[ filter.kw_max ]]#}

                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="kw_min">کیلووات(حداقل)</label>
                            <input id="kw_min" class="form-control" type="text" name="kw_min" v-model="filter.kw_min">
                            {#                    [[ filter.kw_min ]]#}

                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="kw_max">کیلووات(حداکثر)</label>
                            <input id="kw_max" class="form-control" type="text" name="kw_max" v-model="filter.kw_max">
                            {#                    [[ filter.kw_max ]]#}

                        </div>
                        <div class="col-md-6 col-sm-6"><br>rpm:
                            <label for="rpm">سرعت</label>
                            <input id="rpm" class="form-control" type="text" name="rpm" v-model="filter.rpm">
                            {#                    [[ filter.rpm ]]#}
                        </div>


                        <div class="col-md-12 col-sm-12">
                            <label for="price">مالی</label>
                        <input id="price" type="checkbox" v-model="filter.price" name="price">
                        {#                    [[ filter.price ]]#}
                        <label for="tech">فنی</label>
                        <input id="tech" type="checkbox" v-model="filter.tech" name="tech">
                        {#                    [[ filter.tech ]]#}
                        <label for="permission">مجوز</label>
                        <input id="permission" type="checkbox" v-model="filter.permission" name="permission">

                        <label for="sent">ارسال شده</label>
                        <input id="sent" type="checkbox" v-model="filter.sent" name="sent">

                        </div>
                    </form>
                </div>
                <div class="col-md-4 col-md-offset-3 col-sm-4 col-sm-offset-3">
                    <h5 :class="answerClass">[[ answer ]]</h5>
                    <table class="table table-hover">
                        <tbody>
                        <tr v-if="extra_info.total_qty">
                            <td>تعداد دستگاه(استعلام شده)</td>
                            <td>[[ extra_info.total_qty ]]</td>
                        </tr>
                        <tr v-if="extra_info.total_kw">
                            <td>توان(استعلام شده)</td>
                            <td>[[ extra_info.total_kw ]]</td>
                        </tr>
                        <tr v-if="filter.kw_min">
                            <td>حداقل توان</td>
                            <td>[[ filter.kw_min ]]</td>
                        </tr>
                        <tr v-if="filter.kw_max">
                            <td>حداکثر توان</td>
                            <td>[[ filter.kw_max ]]</td>
                        </tr>
                        <tr v-if="filter.rpm">
                            <td>سرعت</td>
                            <td>[[ extra_info.rpm ]]</td>
                        </tr>
                        <tr v-if="extra_info.unverified_profs_total">
                            <td>مجموع پیشفاکتورهای تأیید نشده</td>
                            <td>[[ extra_info.unverified_profs_total ]]</td>
                        </tr>
                        <tr v-if="extra_info.verified_profs_total">
                            <td>مجموع پیشفاکتورهای تأیید شده</td>
                            <td>[[ extra_info.verified_profs_total ]] ([[ extra_info.unv_perc ]]%)</td>
                        </tr>
                        <tr v-if="extra_info.payment_sum">
                            <td>مبلغ دریافتی (% از کل دریافتی)</td>
                            <td>[[ extra_info.payment_sum ]] ([[ extra_info.payment_percentage ]])%</td>
                        </tr>

                        </tbody>
                    </table>
                    <a v-if="extra_info.total_kw" href="{% url 'fsearch3' %}" class="btn btn-sm btn-danger">حذف
                        فیلترها</a>

                </div>
                <div class="col-md-12 col-sm-12">
                    <table id="req_search_table" class="table-hover col-md-12 col-sm-12" style="margin-top: 50px">
                        <tr>
                            <th>No</th>
                            <th @click="sort('qty')">تعداد</th>
                            <th @click="sort('kw')">کیلووات</th>
                            <th @click="sort('rpm')">سرعت</th>
                            <th @click="sort('voltage')">ولتاژ</th>
                            <th @click="sort('tech')">فنی</th>
                            <th @click="sort('price')">مالی</th>
                            <th @click="sort('permissoin')">مجوز</th>
                            <th @click="sort('sent')">ارسال شده</th>
                            <th @click="sort('reqNo')">شماره درخواست</th>
                            <th @click="sort('customer_name')">پیشفاکتور(تایید نشده)</th>
                            <th @click="sort('customer_name')">پیشفاکتور(تایید شده)</th>
                            <th @click="sort('customer_name')">مبالغ دریافتی</th>
                            <th @click="sort('customer_name')">مشتری</th>
                            <th @click="sort('customer_name')">کارشناس</th>
                            <th @click="sort('delay')">تاریخ (زمان)</th>
                            <th></th>
                        </tr>
                        <tbody class="">
                        <tr v-for="spec in sortedSpecs">
                            <td></td>
                            <td>[[ spec.qty ]]</td>
                            <td>[[ spec.kw ]]</td>
                            <td>[[ spec.rpm ]]</td>
                            <td>[[ spec.voltage ]]</td>
                            <td><input type="checkbox" v-model="spec.tech" disabled></td>
                            <td><input type="checkbox" v-model="spec.price" disabled></td>
                            <td><input type="checkbox" v-model="spec.permission" disabled></td>
                            <td><input type="checkbox" v-model="spec.sent" disabled></td>
                            <td><a :href="spec.url">[[ spec.reqNo ]]</a></td>
                            <td><a :href="prof.prof_url" v-for="prof in spec.unverified_profs" v-html="proforma(prof.prof_amount, prof.number)"><br></a></td>
                            <td><a :href="vprof.prof_url" v-for="vprof in spec.verified_profs" v-html="proforma(vprof.prof_amount, vprof.number)"> <br></a></td>
                            <td><a :href="p.pmnt_url" v-for="p in spec.payments" v-html="proforma(p.amount)"><br> </a></td>
                            <td><a :href="spec.customer_url">[[ spec.customer_name ]]</a></td>
                            <td><span v-for="c in spec.owner_colleagues">[[ c.last_name ]]<br></span></td>
                            {#                        <td><span>[[ spec.owner_colleagues ]]</span></td>#}
                            <td>[[ spec.date_fa ]] ([[ spec.delay ]])</td>

                            {#                    <td><input type="checkbox" {% if spec.price %} checked {% endif %} disabled></td>#}
                            {#                    <td><input type="checkbox" {% if spec.permission %} checked {% endif %} disabled></td>#}
                            {#                    <td><input type="checkbox" {% if spec.sent %} checked {% endif %} disabled></td>#}
                            {#                        <td>#}
                            {#                                        <a href="{% url 'request_details' request_pk=spec.req_id.pk %}">{{ spec.req_id.number }}</a>#}
                            {#                        </td>#}
                            {#                        <td>#}
                            {#                                        <a href="{% url 'customer_read' customer_pk=spec.req_id.customer.pk %}">{{ spec.req_id.customer.name }}</a>#}
                            {#                        </td>#}
                            {#                        <td>[[ spec.req_id.date_fa ]] ([[ delay ]])</td>#}
                            <td>
                                <a class="btn btn-primary btn-xs"
                                   :href="spec.url">
                                    <i class="fa fa-eye"></i> مشاهده
                                </a>
                            </td>


                        </tr>

                        {#                            {% endfor %}#}

                        <tr>
                            <td>مجموع</td>
                            <td>[[ extra_info.total_qty ]]</td>
                            <td>[[ extra_info.total_kw ]]</td>
                            <td colspan="7"></td>
                            <td>[[ extra_info.unverified_profs_total ]]</td>
                            <td>[[ extra_info.verified_profs_total ]]</td>
                            <td>[[ extra_info.payment_sum ]]</td>
                        </tr>
                        </tbody>

                    </table>
                    <p>
                        <button @click="prevPage" class="btn btn-success">قبلی</button>
                        <button @click="nextPage" class="btn btn-success">بعدی</button>
                    </p>
                </div>

            </div>
            <br>
        </div>
    </div>

    {#    <div id="vueapp">#}
    {#        post id:#}
    {#        <input type="number" class="" id="PostId" v-model="FundIdModel">#}
    {#        [[ FundIdModel ]]#}
    {#        <a class="btn btn-sm btn-success" type="submit" id="" v-on:click="getFundDetails">Fund</a>#}
    {#        <div>#}
    {#            <h4>[[ fund.title ]]</h4>#}
    {#            <p>[[ fund.date_fa ]]</p>#}
    {#        </div>#}
    {#        <a class="btn btn-sm btn-primary" v-on:click="getFunds">find funds</a>#}
    {#        <ul>#}
    {#            <li v-for="f in funds">[[ f.owner ]]: [[ f.title ]]</li>#}
    {#        </ul>#}
    {#    </div>#}

    <div id="vueapp"></div>
{% endblock %}