{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% load jformat %}
{% load humanize %}
{% block right_col %}
    <div class="row">
        <div class="container">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                <h3>{{ msg }}</h3>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="card-text">
                            الکتروموتورهای درخواستی شرکت <a class="badge badge-light"
                                                            href="{% url 'customer_read' customer_pk=req_obj.customer.pk %}">{{ req_obj.customer }}</a>
                            طی درخواست شماره
                            <a class="badge badge-light"
                               href="{% url 'request_details' request_pk=req_obj.pk %}">{{ req_obj.number }}</a>
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <ul class="message">
                        {% for msg in messages %}
                            <li class="alert alert-success">{{ msg }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">

                <table class="table table-hover text-center">
                    <tbody>
                    <tr>
                        <th class="text-center rotate_deg">کد</th>
                        <th class="text-center rotate_deg">نوع</th>
                        <th class="text-center rotate_deg">تعداد</th>
                        <th class="text-center rotate_deg">کیلووات</th>
                        <th class="text-center rotate_deg">ولتاژ</th>
                        <th class="text-center rotate_deg">سرعت</th>
                        <th class="text-center rotate_deg">IP</th>
                        <th class="text-center rotate_deg">IC</th>
                        <th class="text-center rotate_deg">جزئیات</th>
                        <th class="text-center rotate_deg">فنی</th>
                        <th class="text-center rotate_deg">مالی</th>
                        <th class="text-center rotate_deg">مجوز ساخت</th>
                        <th class="text-center rotate_deg">ارسال شده</th>
                        {#                        <th>PRICE</th>#}
                        <th></th>
                    </tr>
                    {% for spec in specs %}
                        <tr>
                            <td>{{ spec.id }}</td>
                            <td>{{ spec.type }}</td>
                            <td>{{ spec.qty }}</td>
                            <td>{{ spec.kw | floatformat:0 | intcomma }}</td>
                            <td>{{ spec.voltage | floatformat:0 | intcomma }}</td>
                            <td>{{ spec.rpm }}</td>
                            <td>{{ spec.ip }}</td>
                            <td>{{ spec.ic }}</td>
                            <td class="text-right">{{ spec.summary }}</td>
                            <td><input type="checkbox" {% if spec.tech %} checked {% endif %} disabled></td>
                            <td><input type="checkbox" {% if spec.price %} checked {% endif %} disabled></td>
                            <td><input type="checkbox" {% if spec.permission %} checked {% endif %} disabled></td>
                            <td><input type="checkbox" {% if spec.sent %} checked {% endif %} disabled></td>
                            {#                        <td>{{ spec.price }}</td>#}
                            <td>

                                <a href="{% url 'reqspec_edit_form' yreqSpec_pk=spec.pk req_pk=req_obj.pk %}">
                                    <button class="btn btn-warning btn-xs">
                                        <i class="fa fa-pencil"></i> ویرایش
                                    </button>
                                </a>
                                {#                                <a href="{% url 'reqSpec_delete' yreqSpec_pk=spec.pk req_pk=req_obj.pk %}">#}
                                {#                                    <button class="btn btn-danger btn-xs">#}
                                {#                                        <i class="fa fa-trash"></i> حذف#}
                                {#                                    </button>#}
                                {#                                </a>#}

                                <a class="btn btn-xs btn-danger"
                                   href="{% url 'reqSpec_delete' yreqSpec_pk=spec.pk req_pk=req_obj.pk %}">
                                    <i class="fa fa-trash"></i>حذف
                                </a>
                                <a class="btn btn-xs btn-success"
                                   href="{% url 'reqspec_copy' yreqSpec_pk=spec.pk req_pk=req_obj.pk %}">
                                    <i class="fa fa-copy"></i> کپی
                                </a>


                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
                <div>
                    {#                    <form method="POST" action="{% url 'spec_form' req_pk=req_obj.pk %}" enctype="multipart/form-data">#}
                    <div class="">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {#                            <input class="btn btn-primary" type="submit" value="save and add another" name="done">#}
                            {#                            <div class="col-md-4">#}
                            {#                                {% for visible in form.visible_fields %}#}
                            {#                                    {% if visible.name in list %}#}
                            {#                                        {{ visible.name }}#}
                            {#                                        {{ visible }}#}
                            {#                                    {% endif %}#}
                            {#                                {% endfor %}#}
                            {#                            </div>#}
                            {#                            <div class="col-md-4">#}
                            {##}
                            {#                            </div>#}
                            <button class="btn btn-primary" type="submit">ذخیره</button>
                            {#                            <a class="btn btn-success" href="{% url 'request_index' %}">لیست درخواست ها</a>#}
                            {#                            <a class="btn btn-success" href="{% url 'req_search' %}">لیست درخواست ها</a>#}
                            <a class="btn btn-success" href="{% url 'req_form' %}">درخواست جدید</a>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}








