{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% load humanize %}
{% load static %}
{% block right_col %}
    <div class="container">
        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
            <div class="row" style="margin-bottom: 50px;">
            <h4 class="text-center">احتمال وجود خطا در داده های زیر وجود دارد.</h4>
            </div>

            <table class="table table-hover text-center">
                <thead class="dark">
                <tr>
                    <th scope="col" class="text-center rotate_deg">ردیف</th>
                    <th scope="col" class="text-center rotate_deg">کد</th>
                    <th scope="col" class="text-center rotate_deg">کیلووات</th>
                    <th scope="col" class="text-center rotate_deg">سرعت</th>
                    <th scope="col" class="text-center rotate_deg">شماره درخواست</th>
{#                    <th scope="col" class="text-center rotate_deg">کارشناس</th>#}
                </tr>
                </thead>

                <tbody>
                {% for reqspec in reqspecs %}
                    <tr>
                        <td class="dark">{{ forloop.counter }}</td>
                        <td>{{ reqspec.pk }}</td>
                        <td>{{ reqspec.kw }}</td>
                        <td>{{ reqspec.rpm }}</td>
                        <td><a href="{% url 'request_details' request_pk=reqspec.req_id.pk%}">{{ reqspec.req_id.number }}</a></td>
{#                        <td>{{ reqspec.req_id.owner.last_name }}</td>#}
                        {% if perms.request.sale_expert %}
                            <td>
                                <a class="btn btn-xs btn-warning"
                                   href="{% url 'reqspec_edit_form' req_pk=reqspec.req_id.pk yreqSpec_pk=reqspec.pk %}">
                                    <i class="fa fa-pencil" aria-hidden="true"></i> ویرایش
                                </a>
{#                                <a class="btn btn-primary btn-xs btn-danger"#}
{#                                   href="{% url 'reqSpec_delete' req_pk=reqspec.req_id.pk yreqSpec_pk=reqspec.pk %}"><i#}
{#                                        class="fa fa-trash"></i> حذف</a>#}
                            </td>
                        {% endif %}
                    </tr>

                {% endfor %}

                </tbody>
            </table>
            <br>
            <div>
            </div>
        </div>
    </div>
{% endblock %}