{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% load humanize %}
{% block right_col %}
    <div class="container">
        <div class="row">
            <div id="customerDetails" class="col-md-3 col-sm-3 col-xs-12 col-xs-offset-0">
                <h3>{{ pref.req_id.customer }}</h3>
                <p><i class="fa fa-calendar" aria-hidden="true"></i> {{ pref.date_fa }}</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> {{ pref.req_id.customer.phone }}</p>
                <p><i class="fa fa-fax" aria-hidden="true"></i> {{ pref.req_id.customer.fax }}</p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i>
                    {{ pref.req_id.customer.address }}</p>
            </div>
            <div id="customerSummary" class=" col-md-9 col-sm-9 col-xs-12 ">
                <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="tile-stats">
                        <div class="icon">
                        </div>
                        <div class="count">{{ pref.number }}</div>

                        <h3>شماره پیشفاکتور</h3>
                    </div>
                </div>
                <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="tile-stats">
                        <div class="icon">
                        </div>
                        <div class="count">{{ pref.exp_date_fa }}</div>

                        <h3>تاریخ انقضا</h3>
                    </div>
                </div>
                <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="tile-stats">
                        <div class="icon col-md-6">
                            {#                        <i class="fa fa-usd" aria-hidden="true"></i>#}
                        </div>
                        <div class="count">${{ proforma_total|floatformat:0|intcomma }}</div>

                        <h3>قابل پرداخت</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                {#                    Edit Buttons#}
                <div class="row">
                    <div class="pull-left">
                        {% if perms.request.add_xpref %}
                            <a class="btn btn-success btn-sm pull-left" type="submit" name="submit"
                               href="{% url 'pref_edit_form' ypref_pk=pref.pk %}">
                                <i class="fa fa-pencil"></i> ویرایش قیمت</a>
                            <a class="btn btn-warning btn-sm pull-left" href="{% url 'pref_edit2' ypref_pk=pref.pk %}">
                                <i class="fa fa-pencil"></i> ویرایش پیشفاکتور</a>
                            <a class="btn btn-sm btn-info" href="{% url 'pref_index' %}">
                                <i class="fa fa-list-ul" aria-hidden="true"></i>
                                پیش فاکتورها</a>
                        {% endif %}

                    </div>
                </div>
                <div style="margin-top: 150px">
                    <h4>جزئیات پیشفاکتور شماره {{ pref.number }} مربوط به درخواست شماره
                        <a class="badge badge-light"
                           href="{% url 'request_details' request_pk=pref.req_id.pk %}">{{ pref.req_id.number }}</a>
                    </h4>
                    {#                Table of specs#}
                    <table class="table table-hover text-center">
                        <thead>
                        <tr>
                            <th scope="col" class="text-center">ردیف</th>
                            <th scope="col" class="text-center">کد</th>
                            <th scope="col" class="text-center">تعداد</th>
                            <th scope="col" class="text-center">کیلووات</th>
                            <th scope="col" class="text-center">سرعت</th>
                            <th scope="col" class="text-center">ولتاژ</th>
                            <th scope="col" class="text-center">ملاحظات</th>
                            <th scope="col" class="text-center">قیمت واحد</th>
                            <th scope="col" class="text-center">مجموع قیمت</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for index, object in nested.items %}
                            <tr>
                                <th scope="row" class="text-center">{{ forloop.counter }}</th>
                                <td>{{ object.obj.pk }}</td>
                                <td>{{ object.obj.qty }}</td>
                                <td>{{ object.obj.kw }}</td>
                                <td>{{ object.obj.rpm }}</td>
                                <td>{{ object.obj.voltage }}</td>
                                <td>{{ object.obj.considerations }}</td>
                                <td>{{ object.obj.price|intcomma:0 }}</td>
                                <td>{{ object.spec_total|intcomma:0 }}</td>
                            </tr>
                        {% endfor %}
                        <tr style="border-top: 2px black solid">
                            <td colspan="3">مالیات ارزش افزوده</td>
                            <td colspan="5"></td>
                            <td class="amount-total ">{{ vat|intcomma:0 }}</td>
                        </tr>
                        <tr style="border-top: 2px black solid">
                            <td colspan="3" class="emphsize">مجموع</td>
                            <td class="kw-total emphsize">{{ kw_total|intcomma }}</td>
                            <td colspan="4"></td>
                            <td class="amount-total emphsize">{{ proforma_total|intcomma:0 }}</td>
                        </tr>
                        </tbody>


                    </table>

                    {#        Images#}
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            {% for img in prof_images %}
                                <a href="{{ img.image.url }}" target="_blank">
                                    <img class="img-responsive img-thumbnail col-md-3"
                                         src="{{ img.image.url }}" style="">
                                </a>
                            {% endfor %}
                        </div>


                    </div>
                    {#        Payments#}
                    <div class="row">
                        <h4>مبالغ دریافتی بابت این پیش فاکتور:</h4>
                        {% for pay in pref.payment_set.all %}
                            <a href="{% url 'payment_details' ypayment_pk=pay.pk %}">
                                {{ pay.number }} - {{ pay.amount | floatformat:0 | intcomma }}
                            </a>
                        {% endfor %}
                    </div>

                </div>
            </div>

        </div>

    </div>

{% endblock %}