{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% load humanize %}
{% block right_col %}
    <div class="container">
        <div class="col-md-4">
            <h3>{{ msg }}</h3>
            <p>Proforma Number:<span class="results">{{ pref.number }}</span></p>
            <p>Proforma Date:<span class="value">{{ pref.pub_date }}</span></p>
            <p>Proforma Date:<span class="value">{{ pref.date_fa }}</span></p>
            <p>Proforma Date:<span class="value">{{ pref.exp_date_fa }}</span></p>
        </div>
        <div class="col-md-8">
            <a class="btn btn-success btn-sm" type="submit" name="submit"
               href="{% url 'pref_edit_form' ypref_pk=pref.pk %}">Edit Prices</a>
            <a class="btn btn-warning btn-sm" href="{% url 'pref_edit2' ypref_pk=pref.pk %}">Edit Prof</a>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <h3>Proforma Details</h3>
            <table class="withBorder tableFull">
                <thead>
                <tr>
                    <th>No</th>
                    <th>ID</th>
                    <th>Qty</th>
                    <th>Kw</th>
                    <th>rpm</th>
                    <th>voltage</th>
                    <th>consideration</th>
                    <th>price</th>
                    <th>Total price</th>
                    <th>sale price</th>
                    <th>percent</th>
                </tr>
                </thead>
                <tbody>
                {% for index, object in nested.items %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ object.obj.pk }}</td>
                        <td>{{ object.obj.qty }}</td>
                        <td>{{ object.obj.kw }}</td>
                        <td>{{ object.obj.rpm }}</td>
                        <td>{{ object.obj.voltage }}</td>
                        <td>{{ object.obj.considerations }}</td>
                        <td>{{ object.obj.price }}</td>
                        <td>{{ object.spec_total }}</td>
                        <td>{{ object.sale_price }}</td>
                        <td class="{{ object.percentage_class }}">{{ object.percentage|floatformat:2 }}</td>
                    </tr>
                {% endfor %}
                <tr style="border-top: 2px black solid">
                    <td colspan="8">sum</td>
                    <td>{{ proforma_total }}</td>
                    <td>{{ sales_total }}</td>
                    <td class="{{ total_percentage_class }}">{{ total_percentage|floatformat:2 }}</td>
                </tr>
                </tbody>


            </table>
        </div>
    
        <div class="col-md-10 col-md-offset-1">
            {% for img in prof_images %}
                <a href="{{ img.image.url }}" target="_blank">
                    <img class="img-responsive img-thumbnail col-md-3"
                                                   src="{{ img.image.url }}" style="" >
                </a>
            {% endfor %}
        </div>

    </div>

{% endblock %}