{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% block right_col %}
    <div class="row">
        {#    <div class="col-md-9">#}
        {#        <div class="card mb-9 shadow-sm">#}
        {#            <div class="card-body">#}
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <div>
                    <h3>{{ msg }}</h3>
                    <h1 style="text-align: center; background-color: #3E5367; border: 1px solid burlywood; color: whitesmoke;">
                        New Proforma</h1>

                    {% if msg %}
                        {{ msg }}
                    {% endif %}
                    <h3>Requests:</h3>
                    {% for req in  reqs %}
                        {{ req.number }} -
                    {% endfor %}

                    <form method="POST" action="{% url 'pref_form2' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <hr>
                        <h4>Enter Req No Bellow</h4>
                        <input name="req_no" type="text"><br>
                        {#                <br>Enter Pref No Bellow<br>#}
                        {#                <input name="pref_no" type="text"><br>#}

                        {#                <input class="btn btn-success btn-sm" type="submit" value="Save" name="done">#}
                        <button class="btn btn-success btn-sm" type="submit" name="submit">Next</button>
                        <a class="btn btn-danger btn-sm" href="{% url 'pref_index' %}">Cancel</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}








