{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% load humanize %}
{% block right_col %}
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <h3>{{ msg }}</h3>
            {#            <h1 style="text-align: center; background-color: #3E5367; border: 1px solid burlywood; color: whitesmoke;">#}
            <h1 class="page-header">
                {{ message }}</h1>
            <form method="POST" action="{% url 'request_find' %}">
                {% csrf_token %}
                شماره درخواست <input name="req_no">
                <button type="submit" name="submit" class="btn btn-sm btn-primary">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
            <br>
            {% if perms.request.add_requests and showHide %}

                <a href="{% url 'req_form' %}" class="btn btn-success btn-sm pull-left">
                    <i class="fa fa-plus"></i> درخواست جدید</a>
            {% endif %}
            <table class="table table-hover">
                <tr>
                    <th colspan="col" class="text-center">ردیف</th>
                    <th colspan="col" class="text-center">مشتری</th>
                    {#                    <th colspan="col" class="text-center">کد</th>#}
                    <th colspan="col" class="text-center">شماره درخواست</th>
                    <th colspan="col" class="text-center">شماره اصلی</th>
                    <th colspan="col" class="text-center">تاریخ ثبت</th>
                    <th colspan="col" class="text-center"></th>
                    <th colspan="col" class="text-center">زمان</th>
                    {#                    <th colspan="col" class="text-center">edited</th>#}
                    <th colspan="col" class="text-center"></th>
                </tr>
                <tbody class="">
                {% for id, request in response.items %}
                    <tr class="{% if request.req.edited_by_customer %} edited_by_customer {% endif %}">
                        <td scope="row" class="text-center">{{ forloop.counter }}</td>
                        {#                        <td scope="row" class="text-center">{{ request.pk }}</td>#}
                        <td class="text-center">{{ request.req.customer }}</td>
                        <td class="text-center">{{ request.req.number }}</td>
                        <td class="text-center">{{ request.req.temp_number }}</td>
                        <td class="text-center">{{ request.req.date_fa }}</td>
                        <td class="text-center">{{ request.req.owner.last_name }}
                            {% for colleague in request.colleagues %}
                                {% if colleague !=  request.req.owner %}
                                    , {{ colleague.last_name }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="text-center">{{ request.delay }}</td>
                        {#                        <td class="text-center">{{ request.req.edited_by_customer }}</td>#}
                        <td class="text-center">
                            <a class="btn btn-primary btn-xs"
                               href="{% url 'read_vue' request_pk=request.req.pk %}">
                                <i class="fa fa-eye"></i> مشاهده
                            </a>

                            {% if perms.request.add_requests and showHide %}
                                <a class="btn btn-warning btn-xs"
                                   href="{% url 'request_edit_form' request_pk=request.req.pk %}">
                                    <i class="fa fa-pencil"></i> ویرایش
                                </a>
                            {% endif %}
                            {% if perms.request.add_requests and showHide %}
                                {#                                <div class="btn btn-primary btn-xs btn-danger deleteBtn" id=""><i#}
                                {#                                        class="fa fa-trash"></i> حذف#}
                                {#                                </div>#}

                                <a class="btn btn-primary btn-xs btn-danger"
                                   href="{% url 'request_delete' request_pk=request.req.pk %}"><i
                                        {# class="fa fa-trash"></i> حذف</a>
                            {% endif %}
                        </td>


                    </tr>

                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>




{% endblock %}