{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% block right_col %}

    <div class="row">

        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <div>
                    <h3>{{ msg }}</h3>
                    <h1 style="text-align: center; background-color: #3E5367; border: 1px solid burlywood; color: whitesmoke;">
                        New Request</h1>

                    {% if error %}
                        {{ error }}
                    {% endif %}
                    <form method="POST" action="{% url 'request_insert' %}" enctype="multipart/form-data">
                        {% csrf_token %}
{#                        Req No.<br>#}
                        <input class="form-control" type="text" name="req_no" placeholder="Request Number"><br>
                        Customer<br>
                        <select name="customer_id" class="form-control">
                            {% for customer in customers %}
                                <option value="{{ customer.id }}">{{ customer.name }}</option>
                            {% endfor %}

                        </select><br>

                        <div class="form-group" >
                            <label for="pub_date2">Date</label>
                            <input name="date_fa" class=" form-control" type="text" id="pub_date2" >
                        </div>
{#                        Summary:<br>#}
                        <textarea name="req_summary" class="form-control" placeholder="Enter summary here..."></textarea><br>
                        Upload Related files<br>
                        <input type="file" name="req_file"><br>
                        <input class="btn btn-primary" type="submit" value="Save" name="done">
{#                        <a class="btn btn-danger btn-sm" href="{% url 'request_index' %}">Cancel</a>#}
                        <a class="btn btn-danger btn-sm" href="{% url 'req_search' %}">Cancel</a>
                    </form>


                </div>
            </div>

        </div>
    </div>

{% endblock %}