{% extends 'requests/admin_jemco/page_elements/base_html/admin_base_dashboard.html' %}

{% block right_col %}

    {% include 'requests/admin_jemco/page_elements/top-summary.html' with r_kw=routine_kw  project_kw=project_kw allKw=allKw num_of_reqs=num_of_reqs %}

    <div class="row">

        {% include 'requests/admin_jemco/page_elements/charts.html' %}


    </div>

    <div class="container">
        <div class="row">
            {% include 'requests/admin_jemco/page_elements/morischart.html' with rq=rq rq_dict=rq_dict %}


        </div>
    </div>

    <br/>

    <div class="row">

        {% include 'requests/admin_jemco/page_elements/service_shares.html' %}


        {% include 'requests/admin_jemco/page_elements/agent_shares.html' %}
        {% include 'requests/admin_jemco/page_elements/latest_orders.html' with last_n_requests=last_n_requests %}


    </div>


    <div class="row">
        {% include 'requests/admin_jemco/page_elements/tenders.html' %}


        <div class="col-md-8 col-sm-8 col-xs-12">


            <!--<div class="row">-->

            <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
            <!--<div class="x_panel">-->
            <!--<div class="x_title">-->
            <!--<h2>Visitors location <small>geo-presentation</small></h2>-->
            <!--<ul class="nav navbar-right panel_toolbox">-->
            <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
            <!--</li>-->
            <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
            <!--<ul class="dropdown-menu" role="menu">-->
            <!--<li><a href="#">Settings 1</a>-->
            <!--</li>-->
            <!--<li><a href="#">Settings 2</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--<div class="clearfix"></div>-->
            <!--</div>-->
            <!--<div class="x_content">-->
            <!--<div class="dashboard-widget-content">-->
            <!--<div class="col-md-4 hidden-small">-->
            <!--<h2 class="line_30">125.7k Views from 60 countries</h2>-->

            <!--<table class="countries_list">-->
            <!--<tbody>-->
            <!--<tr>-->
            <!--<td>United States</td>-->
            <!--<td class="fs15 fw700 text-right">33%</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>France</td>-->
            <!--<td class="fs15 fw700 text-right">27%</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>Germany</td>-->
            <!--<td class="fs15 fw700 text-right">16%</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>Spain</td>-->
            <!--<td class="fs15 fw700 text-right">11%</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>Britain</td>-->
            <!--<td class="fs15 fw700 text-right">10%</td>-->
            <!--</tr>-->
            <!--</tbody>-->
            <!--</table>-->
            <!--</div>-->
            <!--<div id="world-map-gdp" class="col-md-8 col-sm-12 col-xs-12" style="height:230px;"></div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--</div>-->
            <div class="row">
                {% include 'requests/admin_jemco/page_elements/todoList.html' %}
                {% include 'requests/admin_jemco/page_elements/todoList.html' %}

            </div>
        </div>
    </div>

{% endblock %}