{% load auth_extras %}
<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> داشبورد <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{% url 'dashboard' %}">داشبورد</a></li>
{#                    <li><a href="{% url 'dashboard2' %}">داشبورد</a></li>#}
                    {#                    <li><a href="{% url 'dashboard2' %}">داشبورد2</a></li>#}
                </ul>
            </li>

            {% if perms.request.index_requests %}
                <li><a><i class="fa fa-users" aria-hidden="true"></i> مشتریان <span
                        class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        {% if perms.customer.index_customer %}
                            <li><a href="{% url 'repr_index' %}">نمایندگان</a></li>
                        {% endif %}
                        {% if perms.customer.index_customer %}
                            <li><a href="{% url 'customer_index' %}">مشتریان</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            {% if perms.request.index_requests %}
                <li><a><i class="fa "></i> درخواست <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'req_form' %}">ثبت درخواست جدید</a></li>
                        <li><a href="{% url 'req_form_copy' %}">کپی درخواست</a></li>
{#                        <li><a href="{% url 'request_index' %}">درخواست ها</a></li>#}
                        <li><a href="{% url 'request_index_paginate' %}">درخواست ها</a></li>
                        <li><a href="{% url 'request_index_vue' %}">Vue درخواست ها</a></li>
                        {% if perms.request.index_deleted_requests %}
                            <li><a href="{% url 'request_index_vue_deleted' %}">درخواست های حذف شده</a></li>
                        {% endif %}
                        <li><a href="{% url 'wrong_data' %}">اطلاعات ناقص</a></li>
                        {#                        <li><a href="{% url 'req_search' %}">درخواست ها2</a></li>#}
                        <li><a href="{% url 'fsearch5' %}">گزارش درخواست</a></li>
{#                        <li><a href="{% url 'req_search2' %}">گزارش درخواست</a></li>#}
{#                        <li><a href="{% url 'search_req' %}"> گزارش درخواست 2</a></li>#}
                        <li><a href="{% url 'fsearch' %}">گزارش ردیف</a></li>
                        <li><a href="{% url 'fsearch3' %}">گزارش ردیف vue</a></li>
                        {% if perms.req_track.add_reqentered %}
                            {#                            <li><a href="{% url 'e_req_add' %}">ثبت درخواست وارده</a></li>#}
                        {% endif %}
                        {% if request.user|has_group:"board" or request.user.is_superuser or 1 %}
                            <li><a href="{% url 'e_req_report' %}">درخواست های وارد نشده</a></li>
                            <li><a href="{% url 'e_req_report_prof' %}">تاییدیه های پیش فاکتور دریافتی</a></li>
                            <li><a href="{% url 'e_req_report_payments' %}">مبالغ دریافتی</a></li>
                            <li><a href="{% url 'check_orders' %}">چک درخواست ها</a></li>
                            {#                            <li><a href="{% url 'ereq_del_all' %}">حذف درخواست ها</a></li>#}

                        {% endif %}
                        {#                        <li><a href="{% url 'fsearch3' %}">search2</a></li>#}


                        <li><a href="{% url 'tenders_admin' %}">مناقصات</a></li>
                        {#                    {% if user.is_authenticated %}#}
                        {#                        <li class="nav-item"><a class="nav-link"#}
                        {#                                                href="javascript:{document.getElementById('logout').submit()}">خروج</a>#}
                        {#                        <form id="logout" method="POST" action="{% url 'logout' %}">#}
                        {#                            {% csrf_token %}#}
                        {#                            <input type="hidden">#}
                        {#                        </form>#}
                        {#                    {% endif %}#}
                    </ul>
                </li>
            {% endif %}
            {% if perms.request.index_proforma %}
                <li><a><i class="fa "></i> پیش فاکتور<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        {% if perms.request.index_proforma %}
                            <li><a href="{% url 'pref_index' %}">پیش فاکتورها</a></li>
                            {% if perms.request.index_deleted_proforma %}
                                <li><a href="{% url 'pref_index_deleted' %}">پیش فاکتورهای حذف شده</a></li>
                            {% endif %}

                        {% endif %}

                    </ul>
                </li>
            {% endif %}
            {% if perms.request.index_payment %}
                <li><a><i class="fa fa-money" aria-hidden="true"></i> پرداخت <span
                        class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        {% if perms.request.index_payment %}
                            <li><a href="{% url 'payment_index' %}">پرداخت ها</a></li>
                        {% endif %}
                        {% if perms.request.index_deleted_payment %}
                            <li><a href="{% url 'payment_index_deleted' %}">پرداخت های حذف شده</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            {% if perms.fund.index_fund %}
                <li><a> تنخواه <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'fund_index' %}">لیست تنخواه</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if user.is_superuser %}
                <li><a> مشتری <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'fbv_account_list' %}">لیست مشتریان</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if user.is_superuser %}
                <li><a> سایر <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        {% if perms.request.index_reqspecs %}
                            <li><a href="{% url 'reqSpec_index' %}">جزئیات</a></li>
                        {% endif %}
                        {% if perms.request.index_fund %}
                            <li><a href="{% url 'fund_index' %}">تنخواه</a></li>
                        {% endif %}
                        {% if perms.request.index_motordb %}
                            <li><a href="{% url 'motordb_index' %}">موتورها</a></li>
                        {% endif %}
                        {% if perms.request.add_pricedb %}
                            <li><a href="{% url 'pricedb_index' %}">لیست قیمت</a></li>
                        {% endif %}
                        {% if perms.request.clean_pricedb %}
                            <li><a href="{% url 'pricedb_clean' %}">پاکسازی لیست قیمت</a></li>
                        {% endif %}
                        {% if perms.request.view_motordb %}
                            <li><a href="{% url 'motordb_search_form' %}">جستجوی موتور</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            <hr>

            {#            <li><a><i class="fa fa-edit"></i> Requests <span class="fa fa-chevron-down"></span></a>#}
            {#                <ul class="nav child_menu">#}
            {#                    <li><a href="{% url 'requestPage' %}">All requests</a></li>#}
            {#                    <li><a href="{% url 'createpage' %}">Create request</a></li>#}
            {#                    <li><a href="{% url 'xreq_pref_spec' %}">All Req and prefs with spec</a></li>#}
            {#                    <li><a href="{% url 'find_xpref' %}">Find a prefactor</a></li>#}
            {##}
            {##}
            {#                    </li>#}
            {#                    {% if not user.is_authenticated %}#}
            {#                        <li><a href="{% url 'login' %}">Login</a></li>#}
            {#                    {% endif %}#}
            {#                    <li><a href="#">Edit a request</a></li>#}
            {#                </ul>#}
            {#            </li>#}
            {##}
            {#            <li><a><i class="fa fa-desktop"></i> Xprefactors <span class="fa fa-chevron-down"></span></a>#}
            {#                <ul class="nav child_menu">#}
            {#                    <li><a href="{% url 'create_pref_spec' %}">Create prefactor with spec</a></li>#}
            {#                    <li><a href="{% url 'xpref_ver_create' %}">Add Verification to xpref</a></li>#}
            {#                    <li><a href="{% url 'add_payment_page' %}">Add Payment</a></li>#}
            {#                    <li><a href="{% url 'payments' %}">Payments</a></li>#}
            {#                </ul>#}
            {#            </li>#}
            {#            <li><a><i class="fa fa-table"></i> Customers <span class="fa fa-chevron-down"></span></a>#}
            {#                <ul class="nav child_menu">#}
            {#                    <li><a href="{% url 'customer' %}">Add a customer</a></li>#}
            {#                    <li><a href="{% url 'customer_view' %}">View a customer</a></li>#}
            {#                </ul>#}
            {#            </li>#}
            {##}
            {#            <li><a><i class="fa fa-desktop"></i> Prefactors <span class="fa fa-chevron-down"></span></a>#}
            {#                <ul class="nav child_menu">#}
            {#                    <li><a href="{% url 'prefactorsPage' %}">All prefactors</a></li>#}
            {#                    <li><a href="{% url 'find_pref' %}">Find a prefactor</a></li>#}
            {#                    <li><a href="{% url 'createprefpage' %}">Create prefactor</a></li>#}
            {#                </ul>#}
            {#            </li>#}
            {##}
            {#            <li><a><i class="fa fa-table"></i> Prefactor Verifications <span class="fa fa-chevron-down"></span></a>#}
            {#                <ul class="nav child_menu">#}
            {#                    <li><a href="{% url 'prefVerificationPage' %}">All Verifications</a></li>#}
            {#                    <li><a href="{% url 'create_verf_page' %}">Add a Verification </a></li>#}
            {#                </ul>#}
            {#            </li>#}
            {#            <li><a><i class="fa fa-table"></i> Tenders <span class="fa fa-chevron-down"></span></a>#}
            {#                <ul class="nav child_menu">#}
            {#                    <li><a href="{% url 'tenders_admin' %}">Find Tenders </a></li>#}
            {#                </ul>#}
            {#            </li>#}
        </ul>
    </div>
</div>
<!-- /sidebar menu -->