{#<div class="col-md-12">#}
{#    <form>#}
{#        {% csrf_token %}#}
{#        روز:#}
{#        <input id="dayNumers" type="number" value="days" rawUrl="/kwjs/">#}
{#        <button type="submit" class="btn btn-success btn-sm" id="ajaxbtn">بروزرسانی</button>#}
{#    </form>#}
{#</div>#}
<div class="col-md-12" style="margin: 20px 0 30px">
    <form>
        {% csrf_token %}
        روز:
        <input id="dayNumers_noajax" type="number" value="days" rawUrl="/kwjs/">
        <button type="submit" class="btn btn-success btn-sm" id="ajaxbtn2">بروزرسانی</button>
    </form>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 text-center">
    <label class="label label-success">درخواست های دریافتی (KW)</label>
    <div id="area-chart" class="morris-chart-custom"></div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 text-center">
    <label class="label label-success">پیش فاکتورهای صادر شده (ریال)</label>
    <div id="line-chart" class="morris-chart-custom"></div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 text-center">
    <label class="label label-success">پرداخت های انجام شده (ریال)</label>
    <div id="payment-line-chart" class="morris-chart-custom"></div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 text-center">
    <label class="label label-success">نمایندگی ها (KW)</label>
    <div id="customer_bar" class="morris-chart-custom"></div>
</div>


