{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% load humanize %}
{% block right_col %}
    <div class="container">
        <div class="row">
            <form action="{% url 'motordb_search' %}" method="POST">
                {% csrf_token %}
                new one:
                {{ motor_instance.kw }}

                rpm:
                {{ motor_instance.speed }}

                voltage:
                {{ motor_instance.voltage }}

                {#                kw#}
                {#                <select name="kw">#}
                {#                    {% for kw in motor_instance.kw %}#}
                {#                        <option>{{ kw }}</option>#}
                {#                    {% endfor %}#}
                {#                </select>#}

                {#                rpm#}
                {#                <select name="speed">#}
                {#                    {% for rpm in motor_instance.speed %}#}
                {#                        <option>{{ rpm }}</option>#}
                {#                    {% endfor %}#}
                {#                </select>#}
                {#                voltage#}
                {#                <select name="voltage">#}
                {#                    {% for voltage in motor_instance.voltage %}#}
                {#                        <option>{{ voltage }}</option>#}
                {#                    {% endfor %}#}
                {#                </select>#}

                <button class="btn btn-sm btn-success">search</button>
                <a class="btn btn-sm btn-warning" href="{% url 'motordb_search_form' %}">reset</a>
            </form>
            <table class="tableFull withBorder">
                <thead>
                <tr>
                    <th>TYPE</th>
                    <th>kw</th>
                    <th>frame</th>
                    <th>speed</th>
                    <th>voltage</th>
                    <th>IM</th>
                    <th>IC</th>
                    <th>IP</th>
                    <th>efficiency</th>
                    <th>pf</th>
                    <th>current</th>
                    <th>torque</th>
                    <th>weight</th>
                    <th>action</th>
                </tr>
                </thead>
                <tbody>
                {% for motor in motors %}
                    <tr>
                        <td>{{ motor.type }}</td>
                        <td>{{ motor.get_kw_display }}</td>
                        <td>{{ motor.frame_size }}</td>
                        <td>{{ motor.get_speed_display }}</td>
                        <td>{{ motor.get_voltage_display }}</td>
                        <td>{{ motor.get_im_display }}</td>
                        <td>{{ motor.get_ic_display }}</td>
                        <td>{{ motor.get_ip_display }}</td>
                        <td>{{ motor.efficiency }}</td>
                        <td>{{ motor.PF }}</td>
                        <td>{{ motor.current_ln }}</td>
                        <td>{{ motor.torque_tn | intcomma }}</td>
                        <td>{{ motor.weight | intcomma }}</td>
                        <td>
                            <a class="btn btn-sm btn-primary" href="{% url 'motordb_edit_form' motordb_pk=motor.pk %}">Edit</a>
                            <a class="btn btn-sm btn-danger" href="{% url 'motordb_delete' motordb_pk=motor.pk %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

