{% extends 'page_elements/admin_base.html' %}
{% load humanize %}
{% load jformat %}
{% block right_col %}
    <div class="container agentDetailPage">
        <div class="row">
            {% if object_list.customer.agent %}
                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 is_agent">
                    <h2 class="text-center">نماینده</h2>
                </div>
            {% endif %}

            <div id="customerDetails" class="col-md-3 col-sm-3 col-xs-12 col-xs-offset-0">
                <div>
                    <h3>{{ object_list.customer.name }}</h3>
                    <p><i class="fa fa-calendar" aria-hidden="true"></i> {{ object_list.customer.date2 }}</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> {{ object_list.customer.phone }}</p>
                    <p><i class="fa fa-fax" aria-hidden="true"></i> {{ object_list.customer.fax }}</p>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i>
                        {{ object_list.customer.addr }}</p>
                </div>
            </div>

            <div id="customerSummary" class=" col-md-9 col-sm-9 col-xs-12 ">
                <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="tile-stats">
                        <div class="icon">
                        </div>
                        <div class="count">{{ object_list.req_count }}</div>

                        <h3>درخواست ها</h3>
                    </div>
                </div>
                <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="tile-stats">
                        <div class="icon">
                        </div>
                        <div class="count">{{ object_list.customer_kw_total|floatformat:0|intcomma }}</div>

                        <h3>کیلووات</h3>
                    </div>
                </div>


                <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="tile-stats">
                        <div class="icon col-md-6">
                            {#                        <i class="fa fa-usd" aria-hidden="true"></i>#}
                        </div>
                        <div class="count">${{ object_list.pay_sum|floatformat:0|intcomma }}</div>

                        <h3>پرداخت ها</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row customerTable">

            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="row">
                    <div class="pull-left">

                    </div>
                </div>
                <div class="row">
                    <h4>درخواست های مربوط به <span class="emphsize">{{ object_list.customer.name }}</span></h4>

                    <table class="table table-hover text-center">
                        <thead>
                        <tr>
                            <th class="text-center">کد</th>
                            {#                            <th class="text-center">یونیکد</th>#}
                            <th class="text-center">شماره درخواست</th>
                            <th class="text-center">تاریخ</th>
                            <th class="text-center">جمع کیلووات</th>
                            <th class="text-center">پیشفاکتورها</th>
                            <th class="text-center">پرداخت ها</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for req_id, val in object_list.totalRes.items %}
                            <tr>
                                <th scope="row" class="text-center">{{ forloop.counter }}</th>
                                {#                                <td>{{ req_id }}</td>#}
                                <td>
                                    <a href="{% url 'customer_request_details' pk=req_id %}">{{ val.req.number }}</a>
{#                                    <a href="{% url 'fbv_customer_request_details' req_pk=req_id %}">{{ val.req.number }}</a>#}
                                </td>
                                <td>
                                    {{ val.req.date_fa }}
                                </td>
                                <td>{{ val.kw|intcomma }}</td>
                                <td style="margin: 0px; padding: 0px;">
                                    <table class="col-md-4 col-md-offset-4 text-center">
                                        <tbody>
                                        {% for prof in val.profs2.proformas %}
                                            <tr style="border-bottom: 1px solid black">
                                                <td class="text-center"><a
                                                        href="{% url 'pref_details' ypref_pk=prof.pk %}">{{ prof }}</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <tbody>
                                        {% for pay in val.profs2.payments %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'payment_details' ypayment_pk=pay.pk %}">#{{ pay.xpref_id.number }}
                                                        - ${{ pay.amount|floatformat:0|intcomma }}</a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </td>


                            </tr>
                        {% endfor %}
                        <tr style="border-top: 3px solid black;">
                            <td colspan="3">مجموع</td>
                            <td class="emphsize"><b>{{ object_list.customer_kw_total|floatformat:0|intcomma }}</b></td>
                            <td></td>
                            <td class="emphsize"><b>{{ object_list.pay_sum|floatformat:0|intcomma }}</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>


{% endblock %}