{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% load humanize %}
{% block right_col %}
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <h3>{{ msg }}</h3>
            {#            <h1 style="text-align: center; background-color: #3E5367; border: 1px solid burlywood; color: whitesmoke;">#}
            <h1 class="page-header">
                {{ title }}</h1>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <ul class="message">
                            {% for msg in messages %}
                                <li class="alert alert-error">{{ msg }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <form method="POST" action="{% url 'payment_find' %}">
                {% csrf_token %}
                شماره پرداخت <input name="payment_no">
                <button type="submit" name="submit" class="btn btn-sm btn-primary">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
            {% if perms.request.add_payment and showHide %}
                <a href="{% url 'pay_form' %}" class="btn btn-success btn-sm pull-left">
                    <i class="fa fa-plus"></i> ثبت پرداخت </a>
            {% endif %}
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-hover text-center">
                        <tr>
                            <th class="text-center">ردیف</th>
                            <th class="text-center">شماره پرداخت</th>
                            {% if not showHide %}
                                <th class="text-center">شماره پرداخت اصلی</th>{% endif %}
                            <th class="text-center">شماره درخواست</th>
                            <th class="text-center">شماره پیشفاکتور</th>
                            <th class="text-center">مبلغ</th>
                            <th class="text-center">تاریخ پرداخت</th>
                            <th class="text-center">مشتری</th>
                            <th class="text-center"></th>
                        </tr>
                        <tbody class="">
                        {% for payment in payments %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ payment.number }}</td>
                                {% if not showHide %}
                                    <td>{{ payment.temp_number }}</td>{% endif %}
                                <td>{{ payment.xpref_id.req_id.number }}</td>
                                <td>{{ payment.xpref_id.number }}</td>
                                <td>{{ payment.amount|intcomma }}</td>
                                <td>{{ payment.date_fa }}</td>
                                <td>{{ payment.customer.name }}</td>
                                <td>
                                    <a class="btn btn-primary btn-xs"
                                       href="{% url 'payment_details' ypayment_pk=payment.pk %}">
                                        <i class="fa fa-eye"></i> مشاهده
                                    </a>
                                    {% if perms.request.add_payment and showHide %}
                                        <a class="btn btn-primary btn-xs btn-warning"
                                           href="{% url 'payment_edit' ypayment_pk=payment.pk %}">
                                            <i class="fa fa-pencil"></i> ویرایش
                                        </a>
                                        <a class="btn btn-primary btn-xs btn-danger"
                                           href="{% url 'payment_delete' ypayment_pk=payment.pk %}"><i
                                                class="fa fa-trash"></i> حذف</a>

                                    {% endif %}
                                </td>


                            </tr>

                        {% endfor %}
                        <tr style="border-top: 3px solid black;">
                            <td colspan="3" class="emphsize">مجموع</td>
                            <td class="emphsize">{{ pref_sum|intcomma }}</td>
                            <td class="emphsize"><b>{{ amount_sum|intcomma }}</b></td>
                            <td class="emphsize">{{ debt|intcomma }}</td>
                            <td class="emphsize" style="direction: ltr">{{ debt_percent|floatformat:2 }} %</td>
                        </tr>
                        <table style="border-top: 3px solid black " class="col-md-4 table-bordered ">
                            <tr>
                                <td>جمع پیش فاکتور</td>
                                <td>{{ pref_sum|intcomma }}</td>
                            </tr>
                            <tr>
                                <td>جمع پرداخت</td>
                                <td>{{ amount_sum|intcomma }}</td>
                            </tr>
                            <tr>
                                <td>+/-</td>
                                <td>{{ debt|intcomma }}</td>
                            </tr>
                            <tr>
                                <td>%</td>
                                <td>{{ debt_percent|floatformat:2 }}</td>
                            </tr>
                        </table>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>




{% endblock %}