{% extends 'requests/admin_jemco/page_elements/base_html/admin_base.html' %}
{% load humanize %}
{% block right_col %}
    <div class="container">
        <div>
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                <h1 style="text-align: center; background-color: #3E5367; border: 1px solid burlywood; color: whitesmoke;">
                    پرداخت</h1>
            </div>
        </div>
        <div class="row">
            <div id="customerDetails" class="col-md-3 col-sm-3 col-xs-12 col-xs-offset-0">
                <h3>{{ payment.xpref_id.req_id.customer }}</h3>
                <p><i class="fa fa-calendar" aria-hidden="true"></i> {{ payment.date_fa }}</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> {{ payment.xpref_id.req_id.customer.phone }}</p>
                <p><i class="fa fa-fax" aria-hidden="true"></i> {{ payment.xpref_id.req_id.customer.fax }}</p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i>
                    {{ payment.xpref_id.req_id.customer.address }}</p>
            </div>
            <div id="customerSummary" class=" col-md-9 col-sm-9 col-xs-12 ">
                <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="tile-stats">
                        <div class="icon">
                        </div>
                        <div class="count">{{ payment.number }}</div>

                        <h3>شماره پرداخت</h3>
                    </div>
                </div>
                <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="tile-stats">
                        <div class="icon">
                        </div>
                        <div class="count">{{ payment.date_fa }}</div>

                        <h3>تاریخ پرداخت</h3>
                    </div>
                </div>


                <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="tile-stats">
                        <div class="icon col-md-6">
                            {#                        <i class="fa fa-usd" aria-hidden="true"></i>#}
                        </div>
                        <div class="count">${{ payment.amount|floatformat:0|intcomma }}</div>

                        <h3>پرداخت ها</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1">

            </div>
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                <div class="pull-left">
                    {% if perms.request.add_payment %}
                        <a href="{% url 'payment_edit' ypayment_pk=payment.pk %}" class="btn btn-warning btn-sm">
                            <i class="fa fa-pencil"></i> ویرایش </a>
                        <a href="{% url 'payment_index' %}" class="btn btn-info btn-sm">
                            <i class="fa fa-list "></i> لیست پرداخت ها</a>
                    {% endif %}

                </div>

                <div>
                    {% for i in images %}
                        <div class="col-md-3 col-sm-4 col-xs-4">
                            <a href="{{ i.image.url }}">
                                <img src="{{ i.image.url }}" class="img-thumbnail ">
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="panel-body">
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p class="card-text">
                                پرداخت مربوط به پیش فاکتور شماره <a class="badge badge-light"
                                    href="{% url 'pref_details' ypref_pk=payment.xpref_id.pk %}">{{ payment.xpref_id.number }}</a>
                                و درخواست شماره <a class="badge badge-light"
                                    href="{% url 'request_details' request_pk=payment.xpref_id.req_id.pk %}">{{ payment.xpref_id.req_id.number }}</a>
                            </p>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
{% endblock %}